<%= link_to('Create product', new_product_path) %>
<table>
	<thead>
		<tr>
			<th>title</th>
			<th>desciption</th>
			<th>country</th>
			<th>price</th>
			<th>published</th>
			<th>category</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do | product| %>
		<%= render partial: 'product', locals: {product: product} %>
		<%end%>
	</tbody>
</table>